<div class="starter-template">
  <h1>Sign Up</h1>
  <p class="lead">Fill out the form below.</p>
</div>

<form method="POST" action="/user/store">
  <input type="text" name="username">
  <input type="text" name="password">
  <input type="submit" class="btn btn-primary">
</form>