<div class="col-md-12">
  <div class="jumbotron">
    <h2 class="">Sails.js Simple Realtime Twitter Clone</h2>
    <p>Built w/ Sails.js + Socket.io + MongoDB</p>
    <p><a class="btn btn-lg btn-success" href="/user/create" role="button">Create an account to start using the app.</a></p>
  </div>

  <h4>Source code: <a href="https://github.com/basco-johnkevin/sails_twitter" target="_blank">https://github.com/basco-johnkevin/sails_twitter</a></h4>

  <h4>Blog post about this app: <a href="http://blog.john.mayonvolcanosoftware.com/realtime-twitter-clone-using-sails-js/" target="_blank">http://blog.john.mayonvolcanosoftware.com/realtime-twitter-clone-using-sails-js/</a></h4>

  <h4>Created by: <a href="https://twitter.com/johnkevinmbasco" target="_blank">John Kevin M. Basco</a></h4>

</div>
