<div class="col-md-12">
  <h3>Post a tweet</h3>

  <form method="POST" action="/tweet/store" class="js-tweet-form form-inline" role="form">
    <input type="text" name="body" class="js-body">
    <input type="submit" class="btn btn-primary js-submit">
  </form>

  <h3>Tweets Stream:</h3>
  <ul class="tweets js-tweets"></ul>
</div>

<script type="text/javascript">
  var User = <%- JSON.stringify(session.User) %>,
      initialTweets = <%- JSON.stringify(tweets).replace(/</g, '&lt;') %>;
</script>